<main class="container portfolio-container">
    <% collections.forEach(item => { %>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img class="flip-card-image" src="images/<%= item.image %>" alt="Costume">
                </div>
                <div class="flip-card-back">
                    <h1><%= item.season %></h1>
                </div>
            </div>
        </div>
    <% }) %>
</main>
