<main class="page-grid container about-content">
    <img class="poza-main" src="images/main_image.jpg" alt="Model Paolo Sebastians"/>
    <div class="page-text-main">
        <h1 class="my-info-title" id="spring-2023">Spring 2023</h1>
        <p class="my-info-content">Creative Director and Founder, Paul Vasileff, learnt to sew from the age of three. Initially taught by his Grandmother he completed his first evening dress at age eleven, Vasileff was fascinated by the inner workings and underpinnings of garments. With dreams of one day becoming a couture designer, he developed his skills by undertaking private lessons in pattern making and sewing from the age of thirteen.</p>            
    </div>
</main>