* {
    box-sizing: border-box;
}

a {
    text-decoration: none; /* no underline */
}

html {
    font-family: 'Playfair Display SC', sans-serif;
    color: #555;
}

body {
    background: url('https://www.weddingstylemagazine.com/wp-content/uploads/2022/05/SCP_5160-Simon-Cecere.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
p {
    line-height: 1.5em;
    font-size: 50px;
    margin: 0 0 1em 0;
}

.page-grid{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 2fr 5fr 1fr;
    grid-template-areas: 
       ". menu ."
       ". container ."
       ". footer .";
}

.container {
    grid-area: container;
    background: white;
    padding: 20px;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 6px #9c7f7c;
    border-radius: 4px;
    margin-top: auto;
}

.about-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.footer {
    grid-area: footer;
    margin-top: 10px;
    margin-bottom: 5px;
    background: white;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 4px #ccc;
    border-radius: 4px;
}

.additional-info{
    display: flex;
    justify-content: space-around;
}

.copyright {
    margin: 0;
    font-size: 35px;
}

.menu {
    grid-area: menu;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 80px auto 0 auto;
    height: 100px;
    max-width: 90%;
    text-align:center;
}

.menu-item {
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 30px 40px 30px 40px;
    background: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    color: #888;
    position: relative;
    vertical-align:middle;
    transition: 0.5s;
}

.menu-item:hover {
    color: #c0392b;
}

.menu-item-active {
    color: #c0392b;
}

#title {
    margin: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.subtitle {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1em;
    /* margin: 4 0em 1 0em; */
    text-align: center;
}

.header {
    margin-top: 30px;
}

hr {
    margin: 25px 0;
    border: 1px solid #f1f1f1;
}

.my-info-content {
    font-size: large;
    color: #999;
}

.my-info-title {
    font-size: xx-large;
    margin-bottom: 20px;
}

.poza-main {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    border: 5px;
}

.page-text-main{
    margin-left: 1.8em;  
}

.designer-info {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 4px #ccc;
    border-radius: 4px;
    max-width: 600px; /* Centered and constrained width */
    text-align: center; /* Center the text */
}

.designer-info-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

.designer-info-content {
    font-size: 18px;
    color: #888;
    margin: 5px 0;
}

.designer-info-content a {
    color: #888;
    text-decoration: none;
    transition: color 0.3s;
}

.designer-info-content a:hover {
    color: #e74c3c;
}

.contact-form {
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 4px #ccc;
    margin-top: 20px;
    border-radius: 4px;
    max-width: 1200px;
    min-width: 500px;
    text-align: left; 
}

.contact-form h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #555;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input,
.form-group textarea {
    width: calc(80% - 20px); /* Full width minus padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #555;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #c0392b; 
    box-shadow: 0 0 5px rgba(192, 57, 43, 0.5);
}

button[type="submit"] {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    display: block;
    margin: 20px auto 0 auto;
}

.portfolio-container {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#spring-2023::before{
    content: "< ";
    color: red;
}

#spring-2023::after {
    content: " >";
    color: red;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    margin-bottom: 20px;
    display: block;
  }
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-image {
    object-fit: cover;
    width: 200px;
    height: 300px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb0;
    color: black;
    object-fit: cover;
}

.flip-card-back {
    background-color: #aaa;
    color: white;
    transform: rotateY(180deg);
}

.confirmation-go-back {
    font-size: 24px;
}

.confirmation-paragraph{
    font-size: 20px;
}

.user-info {
    top: 10px;
    right: 10px;
    text-align: right;
}

.user-info-text {
    font-size: 24px;
}

.logout-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #aaa;
    color: white;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

.logout-button i {
    margin-right: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: #888;
    transition: 0.5s;
}

.dropbtn:hover {
    color: #c0392b;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

button:disabled,
button.disabled {
    background-color: #cccccc;
    color: #666666;
}

@media (max-width: 990px) {
    .portfolio-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .menu-item {
        padding: 0;
    }

    #title{
        display: none;
    }
    .footer {
        border-radius: 0;
    }
    .copyright{
        font-size: 25px;
    }
    .about-content{
        margin-top: auto;
    }
    .menu{
        margin-bottom: auto;
    }
    .additional-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .designer-info{
        flex-basis: 100%;
    }
    .contact-form{
        flex-basis: 100%;
    }
}


@media (max-width: 768px) {
    .portfolio-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .about-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    body{
        background: none;
    }
    .footer{
        margin-top: 3px;
    }
    .copyright{
        font-size: 18px;
    }
    
    .container {
        margin-top: 200px; 
    }

    .menu {
        position:relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.9);
        z-index: 1000;
        border-bottom: 1px solid #f1f1f1;
    }

    .menu-item {
        display: block;
        width: 100%;
        padding: 15px 10px;
        text-align: center;
        border-bottom: 1px solid #f1f1f1;
    }

    .designer-info-title {
        font-size: 20px;
    }

    .designer-info-content {
        font-size: 16px;
    }

    .contact-form {
        padding: 15px;
        margin: 10px auto;
    }

    .contact-form h2 {
        font-size: 20px;
    }

    .form-group input,
    .form-group textarea {
        width: calc(100% - 15px);
        font-size: 14px;
    }

    button[type="submit"] {
        padding: 8px 16px;
        font-size: 14px;
    }
    .my-info-title{
        text-align: center;
    }
}